/*Loading Screen*/

@keyframes loading_screen {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


/*Opening at right Animation*/

@keyframes opening_at_right {
    0% {
        right: -100%;
        opacity: 0.5;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}


/*Closing at right Animation*/

@keyframes closing_at_right {
    0% {
        right: 0;
        opacity: 1;
    }
    80% {
        right: -100%;
        opacity: 0.5;
    }
    100% {
        z-index: -1;
    }
}


/*Opening at left Animation*/

@keyframes opening_at_left {
    0% {
        left: -100%;
        opacity: 0.5;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}


/*Closing at left Animation*/

@keyframes closing_at_left {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0.5;
        z-index: -1;
    }
}